@charset "UTF-8";

.azul {
    background-color: blue;
    color: white;
}

.vermelho {
    background-color: #FF0000;
    color: white;
}

.verde {
    background-color: #00FF00;
    color: black;
}

div#telefone {
    display: none;
    margin-top: 50px;
    margin-bottom: 10px;
}